doctype html  
html(lang='en')  
head
	title Instructions
	link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
	style
		include css/index.css
body
	h1 In-Video Quiz Instructions (please read carefully)
	p On the next page you will watch a lecture video which contains quiz questions embedded in the video. 
	p Some things to keep in mind while watching and engaging with the video:
		ul
			li You can only attempt the in-video quiz questions one time.
			li You do not need to answer them the first time they appear. You can move to a different part of the video and come back to the question.
			li Locations of in-video quiz questions are indicated on the timeline by the yellow bar, as seen below. 
			li You must answer both in-video quiz questions before moving on.
			li After the video you will have a 3 question quiz about the topics introduced.
	img(src="media/demo.png" width="450px")
	br
	form(action="Video-Q.html")
		button.btn.btn-primary Continue →



